.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown .dropbtn {
  font-size: 16px;

  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font: inherit;
  margin: 0px;
}


